name: Build ans push docker image
on: [push]
jobs:
  Build-And-Push:
    runs-on: ubuntu-latest
    steps:
      - name: Get commit short sha (7)
        id: vars
        run: echo "::set-output name=sha_short::$( echo $GITHUB_SHA | head -c7)"
      - name: test
        run: echo "${{ secrets.DOCKER_LOGIN }}"
      - uses: actions/checkout@v2
        name: Check out code
      - uses: mr-smithers-excellent/docker-build-push@v5
        name: Build & push Docker image
        with:
          image: test/test-action
          tags: v1, latest, ${{ steps.vars.outputs.sha_short }}
          registry: ${{ secrets.DOCKER_REGISTRY }}
          dockerfile: Dockerfile
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PASSWORD }}
